
.marca{
    color: #DAA316;
}
.marca-igt, .sub-menu
{
    margin-right:auto;
    margin-left:auto;
}
.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link{
     color: #DAA316;
}

.nav-link {
    color: white;
}

