.sub-comentario {
    background-color: white;
    margin: 0;
}

.col-sub-comentario {
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
}

.text-subComentario {
    color: black;
}

.text-principal-comentario {
    color: #DAA316;
    font-weight: bold;
}